@page
@model IndexModel
@{
    ViewData["Title"] = "Bakhtiyar Edu";
}

<h1 class="display-4 text-center">Образовательный центр "Bakhtiyar Education"</h1>
<p class="paragraph">Подпишись на наш Instagram и получи 5% скидку на курсы программирования С#!</p>
<img class="img" src="~/img/edu.jpg" width="1100" height="700" alt="Error" />
