@page
@model BPO.Pages.LogoutModel
@{
}

<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p>Вы действительно хотите выйти?</p>
                <p>
                    <button class="btn btn-outline-primary" asp-page-handler="Logout">Да</button>
                    <button class="btn btn-light ml-5 border-dark" asp-page-handler="DontLogout">Нет</button>
                </p>
            </div>
        </div>
    </div>
</form>